<!DOCTYPE HTML>
<html>
<head>
    <title>欢迎！</title>
    {{> loginRegisterStyle }}
</head>

<body>
	<form method="GET" action="/loginregister">
		<div class="username_div">用户名:</div><input type="text" name="username" class="username"> <br/>
		<div class="password_div">密  码:</div><input type="password" name="password" class="password"> <br/>
		<input type="submit" value="登录" class="login">
	</form>
</body>
</html>
