<style type="text/css">
	form {
		margin: 0px auto;
		width: 250px;
		height: 90px;
		padding: 20px;
		border: 1px solid orange;
	}

	div {
		width: 80px;
		text-align: center;
		border: 1px solid #a1a1a1;
		border-radius: 10px;
		display: inline-block;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.login {
		width: 118px;
	}

	.register {
		width: 118px;
	}
</style>